/* $black: #303032;
$text: #737373;
$gray: #f3f3f3; */
$gutter: 30px;

:root {
    --black-color: #303032;
    --text-color: #737373;
    --gray-color: #f3f3f3;
}

/* fonts */
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto-Slab', sans-serif;

@mixin font($size: 16px, $weight: 400, $family: $roboto) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin bgi($size: cover, $position: center, $repeat: no-repeat) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}
