$black: #303032;
$text: #737373;
$gray: #f3f3f3;
$gutter: 30px;
$gradient: linear-gradient(189deg, #eeeeee 33%, #d2d2d2 94%);

/* fonts */
$futura-light: FuturaPT-Light, sans-serif;


@mixin font($family: $futura-book, $size: 16px, $weight: 400) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
}

@mixin bgi($size: cover, $position: center, $repeat: no-repeat) {
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}
