@charset "UTF-8";
/* $black: #303032;
$text: #737373;
$gray: #f3f3f3; */
:root {
  --black-color: #303032;
  --text-color: #737373;
  --gray-color: #f3f3f3; }

/* fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Slab";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Slab";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Slab";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.eot");
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Light.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype"); }

/* ============ Стили сброса ============== */
/* reset styles for iphones */
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* reset styles for iphones */
/* reset styles */
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

input::-webkit-input-placeholder {
  padding: 0; }

input::-moz-placeholder {
  padding: 0; }

input:-ms-input-placeholder {
  padding: 0; }

input::-ms-input-placeholder {
  padding: 0; }

input::placeholder {
  padding: 0; }

input {
  outline: none; }

/* reset clear btn in inputs for explorer */
input::-ms-clear {
  display: none; }

a {
  text-decoration: none;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

textarea {
  resize: none;
  outline: none; }

a:hover {
  text-decoration: none; }

html, body {
  text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  /* фикс скролла при overflow-y: hidden; 
  (на айфонах не всегда работает) */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: 'roboto', sans-serif;
  min-width: 320px;
  position: relative; }

/* Стили сбросса конец*/
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

/* Стили сброса для contact form7 */
.wpcf7-form br {
  display: none !important; }

span.wpcf7-not-valid-tip {
  display: none !important; }

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
  display: none !important; }

input.wpcf7-not-valid {
  border: 1px solid red !important; }

div.wpcf7-mail-sent-ok {
  display: none !important; }

div.wpcf7 .ajax-loader {
  display: none !important; }

/*Стили сброса для contact form7 end */
/* header block */
/* page blocks */
/* footer block */
